@model Barbershop.Models.ViewModels.BarberScheduleVM

<form method="post">
    <div class="border p-3" style="background-color: #ffffff">
        <div class="form-group row text-center">
            <h2 class="text-info pl-3">Додати новий розклад</h2>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="BarberSchedule.Date"></label>
                    </div>
                    <div class="col-8">
                        <input type="date" asp-for="BarberSchedule.Date" class="form-control mb-2" id="datePicker" />
                        <span asp-validation-for="BarberSchedule.Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="BarberSchedule.StartTime"></label>
                    </div>
                    <div class="col-8">
                        <input type="time" asp-for="BarberSchedule.StartTime" class="form-control mb-2" />
                        <span asp-validation-for="BarberSchedule.StartTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="BarberSchedule.EndTime"></label>
                    </div>
                    <div class="col-8">
                        <input type="time" asp-for="BarberSchedule.EndTime" class="form-control mb-2" />
                        <span asp-validation-for="BarberSchedule.EndTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                     <div class="col-4">
                    <label for="barberId">Для барбера:</label>
                    </div>
                    <div class="col-8">
                         <select asp-for="BarberSchedule.BarberId" asp-items="@Model.BarbershopUserSelectList" class="form-control mb-2" id="barberId">
                        <option disabled selected>--Оберіть барбера для формування розкладу--</option>
                    </select>
                    <span asp-validation-for="BarberSchedule.BarberId" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-8 offset-4 row">
                    <div class="col">
                        <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100 text-white" value="Додати" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success w-100"> До переліку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            const datePicker = $('#datePicker');
            const todayDay = new Date();

            let day = todayDay.getDate();
            let month = todayDay.getMonth() + 1;
            let year = todayDay.getFullYear();

            if (day < 10) {
                day = '0' + day;
            }
            if (month < 10) {
                month = '0' + month;
            }

            const todayString = year + '-' + month + '-' + day;

            datePicker.prop('min', todayString);
        });
    </script>
}


