@model Barbershop.Models.ViewModels.AppointmentListVM
@using Microsoft.AspNetCore.Identity

@{
    Layout = null;
}

@inject UserManager<IdentityUser> userManager

<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

<div class="p-3">
    <ejs-grid id="Grid" dataSource="@Model.AppointmentList" allowFiltering="true" allowSorting="true" allowPaging="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
        <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
        <e-grid-columns>

            <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="PhoneNumber" headerText="Номер телефону" textAlign="Right"></e-grid-column>
            <e-grid-column field="Email" headerText="E-Mail" textAlign="Right"></e-grid-column>
            <e-grid-column field="Barber.FullName" headerText="Барбер" textAlign="Right"></e-grid-column>
            <e-grid-column field="Date" headerText="Запис на дату" customFormat="@(new {type="date", format="dd/MM/yyyy"})" textAlign="Right"></e-grid-column>
            <e-grid-column field="AppointmentStatus" headerText="Статус" textAlign="Right"></e-grid-column>
            <e-grid-column field="Id" headerText="" width="70" template="<a rel='nofollow' href='#' class='btn btn-primary appointment-details-link'><i class='fas fa-list'><span style='display: none;'>${Id}</span></i></a>"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
    <div id="AppointmentDetails">
    </div>
</div>
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

<ejs-scripts></ejs-scripts>
<script>
    $(document).ready(function () {
        var form = $('form');
        $('#Grid').on('click', '.appointment-details-link', function (event) {
            event.preventDefault();
            var appointmentId = $(this).text();
            $.ajax({
                type: "GET",
                url: "/AppointmentList/UserDetails/" + appointmentId,
                success: function (html) {
                    $('#Grid').addClass('d-none');
                    $('#AppointmentDetails').html(html);
                    form.hide();
                }
            });
        });
    });
</script>