@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Ваш обліковий запис тимчасово заблоковано.</h1>
    <p class="text-danger">Ви забагато разів ввели неправильний пароль! Зачекайте певний час для розблокування.</p>
</header>
