html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/wall-with-barbershop-logo-man-with-glasses-beard_616652-83 (1).jpg');
}

.table {
    background-color: transparent;
   /* border: none;
    border-collapse: collapse;*/
   border: 0px white;
}
    .table td,
    .table th {
        margin: 0px;
        /* border:none;*/
        font-size: 16px;
        color: #000000;
        background-color: transparent;
    }

/*#preloader {
    background: #16171C url(../images/preloader.gif) no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}*/
