<!DOCTYPE html>
<html>
<head>
    <title>Нова Пошта API</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <button type="button" id="sendReview" class="btn mt-2">Залишити відгук</button>
    <script>
            $(document).ready(function () {
                $('#sendReview').click(function (event) {
                    event.preventDefault();
                    var barberId = 12;
                    var rate = 4;
                    var comment = 'Абоба';
                    $.ajax({
                        url: "/AppointmentList/LeaveReview",
                        type: 'POST',
                        data: { "barberId": parseInt(barberId), "Rate": parseInt(rate), "comment": comment },
                        success: function (data) {
                            window.location.href = data.redirectToUrl;
                        }
                    });
                });
            });
        
  </script>
  </body>
  </html>
