@model Barbershop.Models.ViewModels.NewsVM

<form method="post" enctype="multipart/form-data">
    <input hidden asp-for="News.Id" />
    <div class="p-3" style="border:1px solid #FFEBA7; background-color: #1F2029; margin-bottom: 30px">
        <div class="form-group row">
            <h2 class="pl-3" style="color: #FFEBA7">Видалення публікації</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label style="color: #FFEBA7">Заголовок</label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="News.Title" class="form-control mb-2" />
                        <span asp-validation-for="News.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label style="color: #FFEBA7">Вміст публікації</label>
                    </div>
                    <div class="col-8">
                        <textarea disabled asp-for="News.Description" class="form-control mb-2"></textarea>
                        <span asp-validation-for="News.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label style="color: #FFEBA7">Короткий вміст</label>
                    </div>
                    <div class="col-8">
                        <textarea disabled asp-for="News.ShortDescription" class="form-control mb-2"></textarea>
                        <span asp-validation-for="News.ShortDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label style="color: #FFEBA7">Категорія</label>
                    </div>
                    <div class="col-8">
                        <select disabled asp-for="News.Category" class="form-select mb-2">
                            <option value="Загальна інформація">Загальна інформація</option>
                            <option value="Про товари">Товари</option>
                            <option value="Про барберів">Барбери</option>
                            <option value="Інтерв'ю">Інтерв'ю</option>
                            <option value="Акції">Акції</option>
                            <option value="Поради та стиль">Поради та стиль</option>
                        </select>
                        <span asp-validation-for="News.Category" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label style="color: #FFEBA7">Посилання на відео</label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="News.VideoUrl" class="form-control mb-2" />
                    </div>
                </div>
                <div class="form-group row">
                    <h5 style="color: #FFEBA7">Галерея публікації</h5>
                    <div class="row col-8 slider">
                        @foreach (var image in Model.NewsImages)
                        {
                            <div class="col-4">
                                <img src="@WC.NewsGalleryPath@image.Image" width="100%" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h5 class="text-center" style="color:#FFEBA7">Основне фото публікації</h5>
                <img src="@WC.NewsMainPath@Model.News.MainPhoto" width="100%" style="border-radius:5px; border:1px solid #FFEBA7" />
            </div>
        </div>
        <div class="form-group row">
            <div class="row pt-2">
                <div class="col">
                    <button type="submit" class="btn btn-danger w-100" value="Delete">Видалити</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success w-100">Назад</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('.summernote').summernote();
        var noteBar = $('.note-toolbar');
        noteBar.find('[data-toggle]').each(function () {
            $(this).attr('data-bs-toggle', $(this).attr('data-toggle')).removeAttr('data-toggle');
        });
    });
</script>
<script>
    $(document).ready(function () {
        if ($('.slider').children().length > 0) {
            $('.slider').slick({
                slidesToShow: 1, // Кількість відображуваних слайдів
                slidesToScroll: 1, // Кількість прокручуваних слайдів за раз
                autoplay: true, // Автоматичне прокручування слайдів
                autoplaySpeed: 2000 // Швидкість автоматичного прокручування (в мілісекундах)
            });
        }
    });
</script>