@model Barbershop.Models.Specializations

<form method="post">
    <input asp-for="Id" hidden />
    <div class="p-3" style="background-color: #1F2029; border: solid 1px #FFEBA7; margin-bottom: 30px">
        <div class="form-group row">
            <h2 class="text-center" style="color: #FFEBA7">Видалити спеціалізацію</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label style="color: #FFEBA7" asp-for="SpecName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SpecName" disabled class="form-control mb-2" />
                    </div>
                </div>               
            <div class="form-group row text-center">
                    <div class="col-8">
                <h4 class="text-center" style="color:#FFEBA7">Зображення спеціалізації</h4>
                <img src="@WC.SpecPath@Model.SpecImage"/>
                    </div>
                </div>
        </div>
    </div>
            <div class="form-group row">
                    <div class="row pt-2">
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100" value="Delete">Видалити</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">До переліку</a>
                        </div>
                    </div>
                </div>
    </div>
</form>

