@model Barbershop.Models.Specializations

<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="p-3" style="background-color: #1F2029; border: solid 1px #FFEBA7">
        <div class="form-group row">
            <h2 class="text-center pl-3" style="color:#FFEBA7">Редагування спеціалізації</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row text-center">
                    <div class="col-4">
                        <label style="color:#FFEBA7" asp-for="SpecName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SpecName" class="form-control mb-2" />
                        <span asp-validation-for="SpecName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-8">
                <h4 class="text-center" style="color:#FFEBA7">Зображення спеціалізації</h4>
                <img src="@WC.SpecPath@Model.SpecImage"/>
                <input type="file" name="files" id="uploadBox" class="form-control mt-2" />
                    </div>
                </div>
                
            </div>         
        </div>
        <div class="form-group row text-center">
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-primary w-100 mt-2" value="Оновити" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success w-100 mt-2">До переліку</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
    </script>
}
