<div  class="text-center">
    <h1 class="text-info">Замовлення сформоване</h1>

    <p>Ми отримали Ваше замовлення і скоро зв'яжемось з Вами для уточнення деталей' </p>

    <img src="/images/patio.jpg" width="80%"/>
</div>