@model Barbershop.Models.OrderHeader

<div class="text-center">

    @if (Model != null)
    {
        <div class="text-center">
            <h1 class="text-dark">Замовлення №@Model.Id сформоване</h1>

            <p>Ми отримали Ваше замовлення і скоро зв'яжемось з Вами для уточнення деталей!</p>

            <img src="/images/patio.jpg" width="80%" />
        </div>
    }
</div>