@model Barbershop.Models.ViewModels.AppointmentVM


@{
    DateTime mindate = DateTime.Today;
    ViewData["MinDate"] = mindate.ToString("yyyy-MM-dd");
}
<!DOCTYPE html>
<html>
<head>
    <title>Test GetAvailableTime</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchButton').click(function () {
                var barberId = $('#barberId').val();
                var date = $('#date').val();

                $.ajax({
                    url: '@Url.Action("GetAvailableTime", "Appointment")',
                    type: 'GET',
                    data: { barberId: barberId, date: date },
                    success: function (response) {
                        if (response.success) {
                            var availableTimes = response.availableTimes;
                            var timeList = '';

                            if (availableTimes.length > 0) {
                                for (var i = 0; i < availableTimes.length; i++) {
                                    timeList += '<button class = "btn btn-info">' + availableTimes[i] + '</button>';
                                }
                            } else {
                                timeList = '<option>No available times</option>';
                            }

                            $('#result').html('<h3>Available Times:</h3><ul>' + timeList + '</ul>');
                        } else {
                            $('#result').html('<p>' + response.message + '</p>');
                        }
                    },
                    error: function () {
                        $('#result').html('<p>An error occurred</p>');
                    }
                });
            });
        });
    </script>

</head>
<body>
    <h1>Test GetAvailableTime</h1>

    <label for="barberId">Barber ID:</label>
    <select asp-for = "@Model.Appointment.BarberId" asp-items="@Model.Barbers" type="text" id="barberId" >
    </select>
    <br />

    <label for="date">Date:</label>
    <input asp-for="@Model.Appointment.Date" min="" type="date" id="date" />
    <br />

    <button id="searchButton">Search</button>

    <div id="result"></div>

    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        var todayString = yyyy + '-' + mm + '-' + dd;

        document.getElementById('date').min = todayString;
    </script>
</body>
    
</html>