@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Barbershop.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barbershop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Barbershop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
<body>
    <style>
        footer{
            text-align: center;
            background-color: #333;
            color: #fff;
            padding: 0px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        #footer-nav
        {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 40px;
        }
    </style>
    <div id="preloader"></div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-dark box-shadow mb-3">
            <div  class="container-fluid">
                <a style="color:white" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Barbershop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="" asp-controller="Services" asp-action="Index">Прайс-ліст</a>
                        </li>
                        @if(User.IsInRole(WC.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a style="color:white" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Адміністрування
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a  class="nav-link text-dark" asp-area="" asp-controller="Specializations" asp-action="Index">Спеціалізації</a>
                                    <a  class="nav-link text-dark" asp-area="" asp-controller="WorkPositions" asp-action="Index">Посади</a>
                                    <a  class="nav-link text-dark" asp-area="" asp-controller="Barbers" asp-action="Index">Барбери</a>
                                    <a  class="nav-link text-dark" asp-area="" asp-controller="ProductCategory" asp-action="Index">Категорії товарів</a>
                                    <a  class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Товари</a>
                                    <a  class="nav-link text-dark" asp-area="" asp-controller="BarberMain" asp-action="Index">Перелік барберів</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Створити адміністратора</a>
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterBarber">Створити барбера</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a style="color:white" class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Керування замовленнями</a>
                            </li>
                        }
                    
                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index">Наші барбери</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="" asp-controller="Stock" asp-action="Index">Наші товари</a>
                        </li>
                        <li>
                            @if (HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart) != null)
                            {
                                <a style="color:white" asp-action="Index" asp-controller="Cart" class="nav-link">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart).Count;
                                    }
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                                </a>
                            }
                            else
                            {
                                <a style="color:white" href="#" class="nav-link">
                                    <i  class="fas fa-shopping-cart"></i> &nbsp; (0)
                                </a>
                            }
                        </li>
                    </ul>
                    <partial name="_LoginPartial"></partial>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm" id="footer-nav">
            <div class="container-fluid">
                <a style="color:white" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Barbershop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="" asp-controller="Services" asp-action="Index">Прайс-ліст</a>
                        </li>
                        @if (User.IsInRole(WC.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a style="color:white" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Адміністрування
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Specializations" asp-action="Index">Спеціалізації</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="WorkPositions" asp-action="Index">Посади</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Barbers" asp-action="Index">Барбери</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ProductCategory" asp-action="Index">Категорії товарів</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Товари</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Створити адміністратора</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a style="color:white" class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Керування замовленнями</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index">Наші барбери</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="" asp-controller="Stock" asp-action="Index">Наші товари</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        //var loader = document.getelementbyid("preloader");
        //window.addeventlistener("load", function()
        //{
        //    loader.style.display = "none";
        //})
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
