<div class="card-footer" style=" background-color: transparent">
    <div class="row">
        <div class="col-12 col-md-5 offset-md-7">
            <button type="submit" style="border-radius: 0px" class="btn btn-dark form-control">Підтвердити замовлення</button>
        </div>
    </div>
</div>