@model Barbershop.Models.ViewModels.ProductsVM

<form method="post" enctype="multipart/form-data">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Додати товар</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ProductName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ProductName" class="form-control mb-2" />
                        <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control mb-2" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Producer"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Producer" class="form-control mb-2" />
                        <span asp-validation-for="Product.Producer" class="text-danger"></span>
                    </div>
                </div>               
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Volume"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Volume" class="form-control"/>
                        <span asp-validation-for="Product.Volume" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Consist"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Consist" class="form-control" />
                        <span asp-validation-for="Product.Consist" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Description" class="form-control" />
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Usage"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Usage" class="form-control" />
                        <span asp-validation-for="Product.Usage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Фото товару(Зверніть увагу! Фото додаються за принципом: 1 - основне, всі інші - додаткові)
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple accept=".png, .jpg, .jpeg" class="form-control mb-2" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ProductCategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.ProductCategoryId" asp-items="@Model.ProductCategorySelectList" class="form-control mb-2">
                            @*<select asp-for="CategoryId" asp-items="@ViewData["CategoryDropDown"] as IEnumerable<SelectListItem>" class="form-control mb-2">*@
                            <option disabled selected>--Оберіть категорію товару--</option>
                        </select>
                        <span asp-validation-for="Product.ProductCategoryId" class="text-danger"></span>
                    </div>                   
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100 text-white" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fa-solid fa-arrow-left"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


