@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />


<div style="background-color: #1F2029">
    <br/>
    <h3 class="text-center" style="color: #FFEBA7">Особистий кабінет</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
        <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
}
